<nav class="nav">
  <div class="container nav-container">
    <div class="nav-logo"><a href="/">Youtube Explorer</a></div>
    <div class="nav-right">
      <!-- Youtube Social -->
      <a class="nav-social social-youtube" target="_blank"
         title="View search results on Youtube"
         href="https://youtube.com/">
        <i class="fa fa-2x fa-youtube-square"></i>
      </a>

      <!-- GitHub Social -->
      <a class="nav-social social-github" target="_blank"
         title="View source code on GitHub"
         href="https://github.com/codenameyau/explorer/">
        <i class="fa fa-2x fa-github-square"></i>
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <input autofocus type="text" class="search-input" id="search-input" name="search-input"
    placeholder="Instant Search" value="{{ search_query }}">
</div>
