<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Youtube Explorer</title>

  <!-- Resources -->
  <link rel="icon" type="image/png" href="favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive-style.css">
  {% block extra_styles %}{% endblock %}

  <!-- Scripts -->
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script defer src="/js/search.js"></script>
  {% block extra_scripts %}{% endblock %}

</head>
<body>

  {% block header %}
    {% include './_header.html' %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
    {% include './_footer.html' %}
  {% endblock %}

</body>
</html>
