/********************************************************************
* NAVIGATION
*********************************************************************/
.nav {
  background: #313131;
  border-bottom: 3px solid #ED4444;
  width: 100%;
  margin: 0 0 30px;
}

.nav-container {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-logo a {
  color: #ccc;
  transition: ease-in 0.3s;
}

.nav-logo a:hover {
  color: #eee;
  color: white;
  transition: ease-in 0.3s;
  text-shadow:
   -1px -1px 0 #ED4444,
    1px -1px 0 #ED4444,
    -1px 1px 0 #ED4444,
     1px 1px 0 #ED4444;
}

.nav-info {
  font-size: 15px;
}

.nav-info a {
  color: #ccc;
  transition: linear 0.3s;
}

.nav-info a:hover {
  color: #fcfcfc;
  transition: linear 0.3s;
}

.nav-info:hover::before {
  content: "Click here to get a new date :)";
  color: #fafafa;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 285px;
  top: 60px;
  padding: 12px;
  border: 1px solid #060606;
  border-radius: 5px;
  z-index: 1;
  animation-duration: 0.3s;
  animation-name: fadein;
}
