/********************************************************************
* NAVIGATION
*********************************************************************/
.nav {
  background: url('../img/nav-bg.png');
  border-bottom: 3px solid #E04659;
  width: 100%;
  margin: 0 0 30px;
}

.nav-container {
  padding: 12px 0;
}

.nav-logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 15px 0 0;
  padding: 5px 0;
  display: inline-block;
}

.nav-logo a {
  color: #ececec;
}

.nav-right {
  float: right;
}

.nav-social i {
  color: rgba(255, 255, 255, 0.35);
  margin: 2px 0 0 8px;
}

.nav-social i:hover {
  color: #ccc;
}

.nav-social i,
.nav-social i:hover {
  transition: linear 0.2s;
}
