/********************************************************************
* NAVIGATION
*********************************************************************/
.nav {
  background: url('../img/nav-bg.png');
  border-bottom: 3px solid #E85A5A;
  width: 100%;
  margin: 0 0 30px;
}

.nav-container {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-logo a {
  color: #ccc;
  transition: linear 0.3s;
}

.nav-logo a:hover {
  color: #eee;
  color: white;
  transition: linear 0.3s;
  text-shadow:
   -1px -1px 0 #E85A5A,
    1px -1px 0 #E85A5A,
    -1px 1px 0 #E85A5A,
     1px 1px 0 #E85A5A;
}

.nav-date {
  font-size: 16px;
  color: #ccc;
}
