/********************************************************************
* RESPONSIVE
*********************************************************************/
@media (max-width: 1024px) {
  .search-result {
    width: 33.333%;
  }
}

@media (max-width: 800px) {
  .search-result {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .search-result {
    width: 100%;
  }
}
