/********************************************************************
* RESPONSIVE
*********************************************************************/
@media (max-width: 1024px) {
  .search-result {
    width: 33.333%;
  }
}

@media (max-width: 800px) {
  .container,
  .nav-container {
    width: 96%;
  }

  .search-result {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .nav-logo {
    display: none;
  }

  .nav-date {
    font-size: 20px;
    margin: auto;
    padding: 10px 0;
  }

  .search-result {
    width: 100%;
  }

  .search-result-img {
    height: 220px;
  }
}
