/********************************************************************
* BASE LAYOUT
*********************************************************************/
body {
  font-family: 'Oxygen', sans-serif;
  background-color: #fcfcfc;
  letter-spacing: 1px;
  margin: 0;
}

a {
  color: #666;
  text-decoration: none;
}

footer {
  margin: 10px 0 20px;
}

.center {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 98%;
  max-width: 1280px;
}


/********************************************************************
* NAVIGATION
*********************************************************************/
.nav {
  background: url('../img/nav-bg.png');
  border-bottom: 3px solid #d93347;
  width: 100%;
  margin: 0 0 30px;
}

.nav-container {
  width: 98%;
  padding: 15px 0;
  max-width: 1280px;
  margin: auto;
}

.nav-logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-logo a {
  color: #fafafa;
}

.nav-search {
  transition: .3s ease-out;
  margin-left: 10px;
  width: 300px;
  font-size: 20px;
  padding: 0;
  height: 35px;
  text-indent: 10px;
  background: none;
  border: none;
  border-radius: 4px;
  color: #999;
}

.nav-search:focus {
  transition: .3s ease-in;
  background: #eee;
  border: none;
  color: #666;
}

/********************************************************************
* ANIMATIONS
*********************************************************************/
@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


/********************************************************************
* SEARCH RESULTS COMPONENT
*********************************************************************/
.search-results {
  margin: 0 auto 20px auto;
  text-align: center;
}

.search-result {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 3px;
  width: 25%;
  height: 100%;
  cursor: pointer;
  animation: fadein 1s;
  transition: linear 0.3s;
}

.search-result:hover {
  opacity: 0.8;
  transition: linear 0.3s;
}

.search-result-img,
.search-result-embed,
.search-result-caption {
  width: 99.2%;
  height: 170px;
}

.search-result-caption {
  margin: -4px auto 0 auto;
  font-size: 13px;
  background: #1c1c1c;
  color: #ccc;
  padding: 8px 0;
  height: 35px;
}
