/********************************************************************
* BASE LAYOUT
*********************************************************************/
body {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

a {
  color: #666;
  text-decoration: none;
}

input[type="text"] {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  padding: 0;
  height: 38px;
  text-indent: 10px;
}

footer {
  margin: 10px 0 20px;
}

.center {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.header-logo {
  letter-spacing: 2px;
  text-align: center;
  font-size: 30px;
}

.header-search {
  width: 100%;
}


/********************************************************************
* ANIMATIONS
*********************************************************************/
@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


/********************************************************************
* SEARCH RESULTS COMPONENT
*********************************************************************/
.search-results {
  margin: 25px auto;
  text-align: center;
}

.search-result {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 3px;
  width: 25%;
  width: calc(100% / 4);
  height: 100%;
  cursor: pointer;
  animation: fadein 1s;
  transition: linear 0.3s;
}

.search-result:hover {
  opacity: 0.8;
  transition: linear 0.3s;
}

.search-result-img,
.search-result-embed,
.search-result-caption {
  width: 99.2%;
  height: 170px;
}

.search-result-caption {
  margin: -4px auto 0 auto;
  padding: 10px 0;
  height: 35px;
  font-size: 14px;
  background: #0d0d0d;
  color: #f1f1f1;
}
