/********************************************************************
* BASE LAYOUT
*********************************************************************/
body {
  font-family: 'Oxygen', sans-serif;
  background-color: #fdfdfd;
  letter-spacing: 1px;
  margin: 0;
}

a {
  color: #666;
  text-decoration: none;
}

footer {
  margin: 40px 0;
}

.center {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 98%;
  max-width: 1280px;
}


/********************************************************************
* ANIMATIONS
*********************************************************************/
@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


/********************************************************************
* SEARCH RESULTS COMPONENT
*********************************************************************/
.search-input {
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  height: 38px;
  font-size: 18px;
  text-indent: 8px;
  color: #333;
}

.search-results {
  margin: 30px auto;
  text-align: center;
}

.search-result {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 3px;
  width: 25%;
  height: 100%;
  cursor: pointer;
  animation: fadein 1s;
  transition: linear 0.3s;
}

.search-result:hover {
  opacity: 0.8;
  transition: linear 0.3s;
}

.search-result-img,
.search-result-embed,
.search-result-caption {
  width: 99.2%;
  height: 170px;
}

.search-result-caption {
  margin: -4px auto 0 auto;
  font-size: 13px;
  background: #111;
  color: #ccc;
  padding: 8px 0;
  height: 35px;
}
