.suggestions {
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
}

.suggestion {
  padding: 3px 0 7px 10px;
  color: #333;
  border-top: 1px solid #e3e3e3;
}

.suggestion:hover {
  background: #ED4444;
}
